body {
    background-color: #FAFAFA;
}

a {
    color: black;
    height: 100%;
    vertical-align: middle;
}

a:hover {
    color: #608495;
}

.logo {
    float: left;
    vertical-align: middle;
}


.head-contain {
    width: 100%;
    
    background-color: rgba(196,200,202,.8);
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
}

.header {
    margin-bottom: -20px;
    position: fixed;
    top: -5%;
    right: 10px;
    z-index: 10;
    border: none;
    background-color: #D2E0E0;
    border-radius: 5%;
}

.head-text {
    position: relative;
    text-overflow: inherit;
    text-align: right;
    max-width: 700px;
    margin: auto;
    height: 100%;
}

.head-text-inner {
    padding-right: 10px;
    height: 40px;
}

hr {
    position: relative;
    top: 30px;
    height: 2px;
    background-color: #D1D1D6;
}


#main {
}

.jumbotron {
    position: relative;
    top: 40px;
    background-color: #F7E1C6;
    height: 475px;
    margin-bottom: 85px;
    background-image: url(../img/jumbo-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    clear: both;
}

.jumbotron-container {
    display: inline-block;
    vertical-align: middle;
    height:100%;
    padding: 5px;
    border: .5em solid white;
    border-radius: 2%
}

.jumbo-content {
    display: inline-block;
    justify-content: center;  
    align-items: center;
    margin-top: 23%;
    margin-left: 50px;
    margin-right: 50px;
}

.jumbo-content p {
    font-variant: small-caps;
}

.ab-me-btn {
    background-color: white;
    color: #a3bdca;
    border: 1px solid black;
}

.ab-me-btn:hover {
     background-color: #E1E5EA;
    color: black;
    border: 3px solid white;
}

#main {
    
}

#cont {
    width: 730px;
    margin: auto;
}

.sechead {
    font-size: 22px;
    font-weight: 300;
    font-variant: small-caps;
}

h5 {
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    left: 15px;
}

h5 ~ p {
    position: relative;
    left: 15px;
}


.footer p {
    color: rgba(180,195,200, 1);
}