body {

}

a {
    color: white;
    height: 100%;
}

#home-ref {
    display: none;
}

.nav a {
    border-left: 1px solid white;
    margin-left: -2px;
}

.btn-contact {
    border-right: 1px solid white;
}

a:hover {
    color: #608495;
}

#head-contain {
    position: fixed;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    transition: all 0.6s linear;
    
}

#header {
    background-color: rgba(0,0,0,.8);
    height: 40px;
    display: inline-block;
    z-index: 10;
    border: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    padding-right: 50px;
    width: 100%;
}





.jumbotron {
    position: fixed;
    top: 40px;
    height: 475px;
    margin-bottom: 105px;
    background-image: url(../img/jumbo-bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    z-index: -1;
}

.jumbotron-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height:100%;
    padding: 5px;
    <!--border: .5em solid white;
    border-radius: 2%;-->
    min-width: 500px;
    top: -10px;
}

.jumbo-content {
    display: inline-block;
    justify-content: center;  
    align-items: center;
    margin-top: 25%;
    margin-left: 50px;
    margin-right: 50px;
}

.jumbo-content p {
    font-variant: small-caps;
}

.ab-me-btn {
    background-color: white;
    color: #a3bdca;
    border: 1px solid black;
}

.ab-me-btn:hover {
     background-color: #E1E5EA;
    color: black;
    border: 3px solid white;
}

#bg {
    clear: both;
    display: block;
    position: relative;
    top: 475px;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Old browsers */
<!--background: -moz-linear-gradient(top, #ffffff 21%, #ffffff 21%, #e0e0e0 77%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#ffffff), color-stop(21%,#ffffff), color-stop(77%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 21%,#ffffff 21%,#e0e0e0 77%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 21%,#ffffff 21%,#e0e0e0 77%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 21%,#ffffff 21%,#e0e0e0 77%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 21%,#ffffff 21%,#e0e0e0 77%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
    -->
}

#cont {
    padding-top: 85px;
    z-index: 5;
    width: 730px;
    margin: auto;
}

h4 {
    text-decoration: underline;
}

.sechead {
    font-size: 22px;
    font-weight: 300;
    font-variant: small-caps;
}

h5 {
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    left: 15px;
}

h5 ~ p {
    position: relative;
    left: 15px;
}

h6 {
    position: relative;
    left: 15px;
    font-size: 14px;
}

.mail {
    color: inherit;
}
    
.footer {
    text-align: center;
}