@font-face { font-family: Ubuntu; src: url('../fonts/Ubuntu-R.ttf'); } 
@font-face { font-family: Ubuntu Mono; src: url('../fonts/UbuntuMono-R.ttf'); } 
@font-face { font-family: Ubuntu Light; src: url('../fonts/Ubuntu-L.ttf'); }
@font-face { font-family: Ubuntu Compact; src: url('../fonts/Ubuntu-C.ttf'); } 
<!-- 
Lato, 300-400-700
Oxygen, 400-700
-->

body {
    margin: auto;
    padding: 0;
}

.header a {
    color: white;
    height: 100%;
    font-family: Ubuntu;
    letter-spacing: .06em;
    font-weight: 300;
    border-left: 1px solid white;
    
}

.flag {
    display: inline;
    margin-left: 50px;
    top: 50px;
    color: yellow;
    font-size: 12px;
}

#home-ref {
    display: none;
}

#resume {
	width: 100%;
	list-style-type: none;
}

.conlink {
    border-right: 1px solid white;
}

.jumbotron {
    position: fixed;
    top: 0;
    height: 550px;
    margin-bottom: 105px;
    background-image: url(../img/jumbo-bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    z-index: -1;
}

.jumbotron-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 100%;
    padding: 5px;
}

.jumbo-content {
    display: inline-block;
    justify-content: center;  
    align-items: center;
    margin-top: 25%;
    margin-left: 50px;
    margin-right: 50px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 43px;
    letter-spacing: 10px;
}


#bg {
    position: relative;
    top: 550px;
    height: 100%;
    width: 100%;
    background-color: #B4D6EE;
    margin: auto;

}

#cont {
    padding-top: 85px;
    z-index: 5;
    margin: auto;
    padding-left: 65px;
    padding-right: 60px;
    max-width: 700px;
}

.sechead {
    font-family: Oxygen;
    font-size: 38px;
    letter-spacing: .02em;
}

h5 {
    font-size: 24px;
    font-weight: lighter;
    font-family: Nobile;
    letter-spacing: .03em;
    position: relative;
    text-decoration: ;
}

.conlist {
}

.sublist {
    position: relative;
    left: 10px;
}

.sbtn {
    margin: auto;
}

a.button {
    position: relative;
    margin-left: 50%
    width: 149px;
    height: 39px;
    background: rgba(19,62,95,.95);
    padding: 10px;
    border-radius: 5px;
    line-height: 39px;
    vertical-align: text-middle;
    text-align: center;
    color: white;
    font-family: Ubuntu Light;
    font-size: 24px;
    text-shadow: #222222 1px 1px 0;
}
a.button > span {
   display: -moz-inline-block;
}


h5, p, .conlist {
    font-family: Tahoma
    position: relative;
    left: 35px;
    width: 90%;
    font-weight: 300;
}

ul {
    list-style: inherit;
}

li {
    font-size: 20px;
    padding: 4px;
}

p {
    
}

h6, p {
    font-size: 20px;
}

h6 {
    position: relative;
    left: 35px;
    font-family: Ubuntu light;
}

.mail, .flickr {
    color: #456ea0;
    text-decoration: ;
}

.footer {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: Oxygen;
}
#memo {
    width: auto;
	height: auto;
	margin-top: -110px;
}
