{% extends 'template.html' %}

{% block content %}
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container main-content">
        <div class="row">
            <div id="about-bio">
                <h1 class="header-text">About Me</h1>
                <p>I'm currently a rising senior at Cal Poly in San Luis Obispo,
                pursuing a major in Chemistry with Minors in Statistics and
                Economics.</p>
                <p>I am originally from King of Prussia, a suburb just west of
                Philadelphia, Pennsylvania. I opted for a change of scenery for the
                duration of my collegiate studies, and was lucky enough to wind up at
                Cal Poly.</p>
            </div>
        <div class="row">
            <div id="about-general">
                <h4 class="subheader">Current Preoccupations</h4>
                <p>I am currently on internship with SEI Investments, in their technology services                          department.</p>
                <h4 class="subheader">Future Outlook</h4>
                <p>I am in the process of deciding between graduate school or beginning my career.</p>
                <h4 class="subheader">Contact Me</h4>
                <p>Feel free to contact me with any questions, comments or suggestions!</p>
                <h6><a class="mail" href="mailto:tyler@tylerkontra.com?Subject=TylerKontra.com" target="_top">tyler@tylerkontra.com</a></h6>
            </div>
             
        </div>
        </div>
    </div>
    <!-- End Document
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->    
{% endblock %}

{% block fade %}
'fade-in-right'
{% endblock %}