{% extends 'template.html' %}

{% block content %}
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container main-content">
        <div class="row">
            <div id="about-bio">
                <h1 class="header-text">About Me</h1>
                <p>I'm currently a senior at Cal Poly in San Luis Obispo,
                pursuing a degree in Chemistry, Statistics and
                Economics.</p>
                <p>I am originally from King of Prussia, a suburb just west of
                Philadelphia, Pennsylvania. I opted for a change of scenery for the
                duration of my collegiate studies, and was lucky enough to wind up at
                Cal Poly.</p>
            </div>
        <div class="row">
            <div id="about-general">
                <h4 class="subheader">Current Preoccupations</h4>
                <p>I am currently finishing my studies at Cal Poly, and seeking full time employment beginning June 2017.</p>
                <h4 class="subheader">Professional Background</h4>
                <p>
                I have completed summer internships with GlaxoSmithKline and SEI Investments (2015/2016 respectively.)
                Experience in the highly regulated pharmaceutical and financial services sectors has been incredibly helpful for
                    shaping my career interests. I have gained an appreciation for a methodical work ethic in ensuring compliance with complex
                    regulations.
                To supplement my coursework and work experience I have worked on a number of <a href="/projects">side projects</a> to learn a wide
                    variety of programming languages and software development tasks.
                </p>
                <h4 class="subheader">Contact Me</h4>
                <p>Feel free to contact me with any questions, comments or suggestions!</p>
                <h6><a class="mail" href="mailto:tyler@tylerkontra.com?Subject=TylerKontra.com" target="_top">tyler@tylerkontra.com</a></h6>
            </div>
             
        </div>
        </div>
    </div>
    <!-- End Document
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->    
{% endblock %}

{% block fade %}
'fade-in-right'
{% endblock %}