{% extends 'template.html' %}

{% block content %}
     <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container main-content animsition">
        <div class="row">
            <div class="eight columns">
                <div class="row">
                    <h1>My Projects</h1>
                    <ul class="repo-list">
                    {% for repo in repos %}
                        <li><a href="{{ repo[1] }}">{{ repo[0] }}</a></li>
                            <ul>
                            <li>{{ repo[2] }}</li>
                            </ul>
                    {% else %}
                        <li>No github projects to report.</li>
            {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <h3>About This Website:</h3>
                    <p>This website was intended to be a learning project to give me experience 
                    with not only HTML/CSS/Javascript but managing my own private server and
                    configuring a LAMP(ython) stack within. Once I got that rolling I decided
                    I wanted to learn Flask, and so I did. As of now, there is very little 'dyanmic'
                    content (this page and the navigation bar). Hopefully I can find the time to
                    develop a working Flask app.</p>
                </div>
            </div>
            <div class="four columns">
                <h5>My Recent Github Activity</h5>
		<ul class="activity-list">
                {% for event in report %}
                    {% if event[3] != '' %}
                        <li>{{ event[0] }} @ {{ event[1] }} on {{ event[2] }}: {{ event[3] }}</li>
                    {% else %}
                        <li>{{ event[0] }} @ {{ event[1] }} on {{ event[2] }}</li>
                    {% endif %}
		        {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    
{% endblock %}

{% block fade %}
'fade-in-left'
{% endblock %}