{% extends 'template.html' %}

{% block content %}
    <!-- Primary Page Layout
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <div class="container main-content">
        <div class="row">
            <div class="five columns" id="resume-side">
                <h1 class="header-text">Resume</h1>
                <p>Over the past few years I have developed my technical
                skillset, conducting research in Organic Chemistry and
                Biochemistry, as well as indepedendent research projects to
                satisfy my interests in statistics and data exploration. Beyond
                that, I was fortunate enough to hold internships at
                GlaxoSmithKline and SEI Investments during my sophomore and
                junior summer breaks.</p>
            </div>
            <div class="seven columns" id="resume-body">
                <h5>Work Experience</h5>
                <ul class="resume-sublist">
                    <li>SEI Investments: Technology Services Intern, Summer
                    2016</li>
                    <li>VSolvit, Inc.: Compliance Metrics Lead, June 2016 -
                    Present</li>
                    <li style="list-style: none; display: inline">
                        <ul>
                            <li>VSolvit, Inc.: Jr. Compliance Auditor, January
                            - June 2016</li>
                        </ul>
                    </li>
                    <li>GSK, King of Prussia: Scientific Student Worker, Summer
                    2015</li>
                </ul>
                <h5>Education</h5>
                <ul class="resume-sublist">
                    <li>California Polytechnic State University, 2013-Present,
                    exp. grad. Spring 2017</li>
                    <li>Upper Merion Area High School, 2009-2013</li>
                </ul>
                <h5>Skills and Interests</h5>
                <ul class="resume-sublist">
                    <li>Information Systems</li>
                    <li style="list-style: none; display: inline">
                        <ul class="sublist">
                            <li>Advanced Python, R programming</li>
                            <li>Comfortable with Linux environment, MySQL</li>
                            <li>Proficient in HTML, CSS, Javascript/jQuery,
                            CGI/php</li>
                            <li style="list-style: none; display: inline">
                                <ul>
                                    <li>(LAMP Stack, i.e.-this site on
                                    VPS)</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Photography</li>
                    <li style="list-style: none; display: inline">
                        <ul class="sublist">
                            <li>Digital, Olympus Pen E-M2, Olympus 18-42 (MFT)
                            lens</li>
                            <li>
                                <a class="flickr" href=
                                "https://www.flickr.com/photos/124847808@N08/">Check
                                out my Flickr photostream</a>
                            </li>
                        </ul>
                    </li>
                    <li>Active</li>
                    <li style="list-style: none; display: inline">
                        <ul class="sublist">
                            <li>Hockey</li>
                            <li>Weightlifting & Sports Science</li>
                            <li>Skiing</li>
                            <li>Golf</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}

{% block fade %}
'fade-in-up'
{% endblock %}