<!--navbar subdir-->
    <div class="container navbar row">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a class="navbar-link" href="../index.html">Home</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/pages/projects.html">Projects</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="./resume.html">Resume</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="./bio.html">Bio</a>
            </li>
        </ul>
    </div>